[submodule "third_party/libMultiRobotPlanning/external/libMultiRobotPlanning"]
	path = third_party/libMultiRobotPlanning/external/libMultiRobotPlanning
	url = https://github.com/whoenig/libMultiRobotPlanning.git
