[submodule "third_party/libmultirobotplanning/external/libMultiRobotPlanning"]
	path = third_party/libmultirobotplanning/external/libMultiRobotPlanning
	url = https://github.com/whoenig/libMultiRobotPlanning.git
